body {
    position: relative;
}
/*------ SECTION 1 ---------*/
#section1 {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    max-height: 640px;
    overflow: hidden;
}
#sec1part1 {
    height: 500px;
    background-color: black;
}
#sec1part2 {
    height: 240px;
    background-color: white;
}

/*-------- SECTION 2 --------*/
#section2 {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    min-height: 600px;
    overflow: hidden;
}

/*-------- SECTION 3 --------*/
#section3 {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    min-height: 600px;
    overflow: hidden;
}

/*-------- SECTION 4 --------*/
#section4 {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    min-height: 600px;
    overflow: hidden;
}

/*-------- SECTION 5 --------*/
#section5 {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    min-height: 300px;
    overflow: hidden;
}






/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #section1 {
        min-height: 540px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}