/*--- NAVBAR ---- */
.navbar-top ul {
  margin-right: 9%;
}

.navbar-top ul li {
  margin-right: 8%;
}

.navbar-bottom {
  background-color: #f7f7f7;
  box-shadow: 0 5px 6px -2px rgba(0, 0, 0, .3);
  border-top: 1px solid #e0e0e0;
  margin-top: 4%;
  height: 40px;
}

.navbar-bottom ul li {
  margin-left: 2%;
  margin-right: 2%;
}
@media only screen and (max-width: 600px) {
  .navbar-bottom {
  display=none;
  }
  }


/*--------------------*/
/* HOMEPAGE SECTION */
/*--------------------*/
#homepage {
  height: 640px;
  overflow: hidden;
}

#homepage #wrapper1 {
  padding: 200px 0 100px;
  height: 440px;
}

#homepage #wrapper2 {
  padding: 35px 0 100px;
  height: 200px;
  position: relative;
}

#homepage #wrapper2 a:link {
  text-decoration: none;
}

#homepage #wrapper2 .c-field:hover h1{
  transition-duration: 1s;
  font-size: 30px;
  color: black;
}
#homepage #wrapper2 .c-field:hover img{
  transition-duration: 1s;
  width: 100px;
  height: 100px;
 
}
@media only screen and (max-width: 600px) {
  #homepage {
    height: 1040px;
  }

  #homepage #wrapper1 {
    padding: 150px 0 100px;
    height: 440px;
  }


  #homepage #wrapper2 {
    padding-bottom: 25px;
    height: 650px;
  }

  #homepage #wrapper2 .c-field {
    margin-top: 20px;
  }
}


/*--- WHAT WE DO SECTION ---*/
.section {
  padding: 150px 0;
}
